<script>
    $(function () {
        $('.showMe2').addClass('hidden');
        $('.showMe1').removeClass('hidden');
    });
</script>
<div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <div class="mdl-card mdl-shadow--2dp pie-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">GREAT ASIA</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
<p>GREAT ASIA Ventures is an early stage fund focusing on consumer web and mobile startups, based in Tokyo (Japan), Singapore, and Jakarta (Indonesia).
    We invest in venture companies in internet-related businesses with outstanding global market potential led by entrepreneurs with excellent management leadership.
</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <div class="mdl-card mdl-shadow--2dp pie-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">GOAL</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <p>More over 500 Startups calls itself a new kind of seed fund and startup accelerator. It believes successful internet startups are born from usable design, customer-focused metrics, and online distribution. Goal is to increase the startups business day by day</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <div class="mdl-card mdl-shadow--2dp pie-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">PROCESS</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <p>GREAT ASIA Ventures is an early stage fund focusing on consumer web and mobile startups, Everyday it invests on many companies to get back more. It always invest your money and create profits for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-grid mdl-cell mdl-cell--9-col-desktop mdl-cell--12-col-tablet mdl-cell--4-col-phone mdl-cell--top">
        <!-- Pie chart-->
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <div class="mdl-card mdl-shadow--2dp pie-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">ABOUT COMPANY</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <p>GREAT ASIA is on AngelList, where the world meets startups.
                            To connect with Asia Venture Group.
                            GREAT ASIA Group is a hands-on, private Internet Holding Company and focus on long-term value creation in online markets. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <div class="mdl-card mdl-shadow--2dp pie-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">CONTACT</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <p>A-32-1, Tower A, North Point Offices Midvalley City, Medan Syed Putra 59300 Kuala Lumpur</p>
                        <p>  Contact: Tel. +60 (0)3 9901 3393</p>
                        <p> Email : info@greatasia.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
            <div class="mdl-card mdl-shadow--2dp pie-chart">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">HOW IT HELPS</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <div>
                        <p> Create your account (please give valid information) . Then you get payment link.
                            You will get total amount with consideration after 15 Days.
                            Create new members (using your Sponsor Id) and get Rs.100 referred amount from every Id members.
                           </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



