<script>
    $(function () {
        $('.showMe2').removeClass('hidden');
        $('.showMe1').addClass('hidden');
    });
</script>

<div class="mdl-card mdl-shadow--2dp employer-form">
    <div class="mdl-card__title">
        <h2>Reset Password</h2>
        <div class="mdl-card__subtitle">Change your password.</div>
    </div>
    <form id="reset" ng-submit="resetPw()" name="regForm" autocomplete="off" novalidate>
    <div class="mdl-card__supporting-text">
        <div class="form__article">
            <div class="mdl-grid" ng-class="{ 'has-error': firmRegistration.oldpw.$touched && firmRegistration.oldpw.$invalid }" tabindex="1">
                <div class="mdl-cell mdl-cell--9-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" name="oldpw" ng-model="firmRegistration.oldpw" maxlength="20"  required />
                    <label class="mdl-textfield__label">Old Password</label>
                    <div ng-messages="login.oldpw.$error" ng-if="login.oldpw.$dirty">
                        <div ng-message="required">Old Password is required.</div>
                    </div>
                </div>
            </div>
            <div class="mdl-grid" ng-class="{ 'has-error': firmRegistration.newpw.$touched && firmRegistration.newpw.$invalid }" tabindex="2">
                <div class="mdl-cell mdl-cell--9-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" name="newpw" ng-model="firmRegistration.newpw"  maxlength="20" required  />
                    <label class="mdl-textfield__label">New Password</label>
                    <div ng-messages="login.newpw.$error" ng-if="login.newpw.$touched">
                        <div ng-message="required">New Password is required.</div>
                    </div>
                </div>
            </div>
            <div class="mdl-grid" ng-class="{ 'has-error': firmRegistration.confpw.$touched && firmRegistration.confpw.$invalid }" tabindex="3">
                <div class="mdl-cell mdl-cell--9-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="confPw" class="form-control" name="confpw" ng-model="firmRegistration.confpw" maxlength="20" pw-check="pw" required  />
                    <label class="mdl-textfield__label">Re-Enter Password</label>
                    <div ng-messages="login.confpw.$error" ng-if="login.confpw.$touched">
                        <div ng-message="required">Password is required.</div>
                        <div ng-message="pwmatch">Password Not match.</div>
                    </div>
                </div>
            </div>
            <div class="form__action">
                <div class="mdl-js-ripple-effect">
                    <button type="submit"  ng-disabled="login.$invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        <i class="material-icons" role="presentation">done</i>
                        OK
                    </button>
                    <!-- <input type="checkbox" id="isInfoReliable" class="mdl-checkbox__input" required/>-->
                </div>
            </div>
        </div>
    </div>
        </form>
</div>